@import './typography.scss';
@import './form.scss';
// @import 'bootstrap/dist/css/bootstrap.css';
// @import 'bootstrap-vue/dist/bootstrap-vue.css';

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  line-height: 1;
}

.disableScroll {
  overflow: hidden;
}

a {
  cursor: pointer;
}

#app {
  color: black;
  font-weight: 400;
}

.site-header {
  border-bottom: 1px solid #e8e8e1;
}


.hidden {
  display: none;
}


.container {
  max-width: 612px;

  margin: 0 auto;
  margin-bottom: 3rem;

  @media screen and (max-width: 500px) {
    padding: 0 1rem;
    // max-width: unset;
  }

  @media screen and (min-width: 1400px) {
    max-width: 1400px;
  }
}