@import './typography.scss';
// @import 'bootstrap/dist/css/bootstrap.css';
// @import 'bootstrap-vue/dist/bootstrap-vue.css';

html, body {
  margin: 0px;
  padding: 0px;
  line-height: 1;
}

#app {
  color: black;
  font-weight: 400;
}

.site-header {
  border-bottom: 1px solid #e8e8e1;
}


